version "1.0.0"

avatar "shape-cancel" {
    parameters {
        int "Eyelids"
    }

    animations {
        group "Eyelids" {
            parameter "Eyelids"
            mesh "Face"

            default {
                // cancel-to を指定した場合、他の option で打ち消すアニメーションを
                // 挿入できるようになる。 default ブロック限定。
                shape "eyelids_ジト目" value=0.5 cancel-to=0.0
            }

            // "eyelids_笑い" を 1.0 にするほか、
            // cancel=true を指定したので "eyelids_ジト目" が 0.0 になる。
            option "笑い" shape="eyelid_笑い" cancel=true

            // cancel が指定されていないので "eyelids_驚き" だけが 1.0 になる。
            option "びっくり" shape="eyelids_驚き"
        }
    }
}
