avatar "localized-keys" {
    parameter {
        float "Breast"
    }

    assets {
        localize "BodyMeshName"
        localize "BodyBreastSmall"
        localize "BodyBreastBig"
    }

    animations {
        puppet "デカ乳" {
            parameter "Breast"
            mesh (localize)"BodyMeshName"

            keyframe 0.0 {
                shape (localize)"BodyBreastSmall" value=1.0
                shape (localize)"BodyBreastBig" value=0.0
            }
            keyframe 0.5 {
                shape (localize)"BodyBreastSmall" value=0.0
                shape (localize)"BodyBreastBig" value=0.0
            }
            keyframe 1.0 {
                shape (localize)"BodyBreastSmall" value=0.0
                shape (localize)"BodyBreastBig" value=1.0
            }
        }
    }
}

