version "1.0.0"

avatar "gesture-example" {
    parameters {
        float "BlendX"
        float "BlendY"
        int "Emote"
        bool "Enabled"
        bool "Overridden"
    }

    assets {
        animation "test"
        animation "neutral"
        animation "up"
        animation "down"
        animation "left"
        animation "right"
    }

    animations {
        layer "Hoge" {
            default "blend"

            state "blend" {
                clip (animation)"test"
                speed 1.0 by="BlendX"
                time "BlendY"

                transition "tree" {
                    when {
                        eq "Emote" 1
                    }
                    duration 0.5
                }

                transition "tree" {
                    when {
                        be "Enabled"
                        not "Overridden"
                    }
                    duration 0.75
                }
            }

            state "tree" {
                blendtree type="2d-cartesian" x="BlendX" y="BlendY" {
                    field (animation)"neutral" 0.0 0.0
                    field (animation)"right" 1.0 0.0
                    field (animation)"left" -1.0 0.0
                    field (animation)"up" 0.0 1.0
                    field (animation)"down" 0.0 -1.0
                }

                transition "blend" {
                    when {
                        not "Enabled"
                    }
                    duration 0.0
                }
            }
        }
    }
}
