version "1.0.0"

avatar "avatarname" {
    parameters {
        int "Expression"
        bool "Breast"
        int "Clothes"
        bool "Cap"

        float "param1"
        float "param2"
        float "param3"
        float "param4"
        bool "param5"
    }

    animations {
        group "表情" {
            mesh "Face"
            parameter "Expression"
            prevent mouth=true eyelids=true

            default {
                shape "ツリ目" value=0.5
            }

            option "ほげ" shape="目_白目"
            option "ふが" shape="目_瞳小" value=0.5
            option "ぴよ"

            option "にっこり" {
                shape "目_笑顔"
                shape "口_笑顔"
                shape "眉_笑顔"
            }

            option "びっくり" {
                shape "目_瞳小" value=0.5
                shape "眉_上"
                shape "口_あ"
            }
        }

        switch "胸" {
            mesh "Face"
            parameter "Breast"
            shape "胸大" enabled=1.0 disabled=0.0
            shape "胸小" enabled=0.0 disabled=1.0
        }

        group "服装" {
            parameter "Clothes"

            default {
                object "Stockings" value=true
                object "Shoes" value=true
                object "Jacket" value=true
            }

            option "foo" object="Foo"
            option "bar" object="Bar" value=false
            option "baz"

            option "裸足" {
                object "Stockings" value=false
                object "Shoes" value=false
            }
        }

        switch "帽子" {
            parameter "Cap"
            object "Cap" enabled=true disabled=false
        }

        puppet "ロングもみあげ" {
            parameter "param1"
            mesh "Hair"

            keyframe 0.0 {
                shape "もみあげ" value=0.0
                shape "もみあげ2" value=0.0
            }
            keyframe 0.5 {
                shape "もみあげ" value=1.0
                shape "もみあげ2" value=0.0
            }
            keyframe 1.0 {
                shape "もみあげ" value=1.0
                shape "もみあげ2" value=1.0
            }
        }
    }

    drivers {
        group "夏" local=true {
            set group="表情" option="にっこり"
            set group="服装" option="裸足"
        }

        group "Example" {
            add parameter="param1" value=1.0
            random parameter="param5" chance=0.5
            copy from="param2" to="param3"
        }
    }

    menu {
        submenu "服装" {
            toggle "裸足" group="服装" option="裸足"
        }
        submenu "表情" {
            toggle "にっこり" group="表情" option="にっこり"
            toggle "びっくり" group="表情" option="びっくり"
        }

        radial "Radial Puppet" parameter="param1"
        two-axis "Two-Axis Puppet" {
            horizontal "right" "left" parameter="param1"
            vertical "up" "down" parameter="param2"
        }
        four-axis "Four-Axis Puppet" {
            left "left" parameter="param1"
            right "right" parameter="param2"
            up "up" parameter="param3"
            down "down" parameter="param4"
        }
    }
}
